#version=RHEL8
# Use graphical install
graphical


%packages
@^minimal-environment
@guest-agents

%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp1s0 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=vda
autopart
# Partition clearing information
clearpart --none --initlabel

# System timezone
timezone Europe/Berlin --isUtc

# Root password
rootpw --iscrypted $6$Cdb7hg4gYeHoluZK$bEB1wdJD2XDB4Uqz6irPnsMmtroU0jFNvTcp1w44pSN/XjD.IHtprt.lcMK7ra6gRcW94DnIZ/emCmNQCjm5X/

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
